<!DOCTYPE html>
<html lang="en">
	<head>
		@input(template/head.404)

		@input(template/accounts.js)
	</head>
	<body class="theme-green">
		<!-- BEGIN #app -->
		<div id="app" class="app app-sidebar-collapsed">
			@input(template/header.404)
			
			@input(template/menu.404)
			
			@content

			@input(template/footer.404)
			
			<!-- BEGIN btn-scroll-top -->
			<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
			<!-- END btn-scroll-top -->

			@input(template/theme_panel.content)
		</div>
		<!-- END #app -->

		@input(template/toggle_login.js)
		
		<script src="https://dexata.net/@pathtofile(output/assets/js/vendor.min.js)"></script>
		<script src="https://dexata.net/@pathtofile(output/assets/js/app.min.js)"></script>
	</body>
</html>
