<!DOCTYPE HTML>
<html>
	<head>
		@input(template/head.content)

		@input(template/accounts.js)
	</head>
	<body class="is-preload">
		@input(template/header.content)

		@content

		@input(template/footer.content)

		<script src="@pathto(output/assets/js/browser.min.js)"></script>
		<script src="@pathto(output/assets/js/breakpoints.min.js)"></script>
		<script src="@pathto(output/assets/js/util.js)"></script>
		<script src="@pathto(output/assets/js/main.js)"></script>

		@input(template/toggle_login.js)
	</body>
</html>
