img, iframe
{
	max-width: 85%;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

menu
{
	background-color: black !important;
}

br, button, nav, select, noselect
{
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active
{
	-webkit-text-fill-color: white;
	-webkit-box-shadow: 0 0 0px 1000px #6e4d4b inset !important;
	transition: background-color 5000s ease-in-out 0s;
	background:  #6e4d4b;
	line-height: normal;
	padding:  5px;
	color: white;
	border-radius: 5px;
}

input, 
textarea
{
	background:  #6e4d4b;
	line-height: normal;
	padding:  5px;
	color: white;
	border-radius: 5px;
}

select
{
    scrollbar-width: none; /*For Firefox*/;
    -ms-overflow-style: none;  /*For Internet Explorer 10+*/;
}

select::-webkit-scrollbar /*For WebKit Browsers*/
{ 
    width: 0;
    height: 0;
}

i
{
	margin-left: 3px;
	margin-right: 3px;
}

textarea
{
	height: 200px;
	resize: vertical;
}

th a
{
	color:  white;
}

a:hover
{
	cursor: pointer;
}

b
{
	color: #daded9;
}

green
{
	color: #39ff14;
}

red
{
	color: #FF3131;
}

.rounded
{
	border-radius: 10px;
}

.round
{
	border-radius: 100px;
}

.fixed_center 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.xscroll
{
	margin: 0 auto;
	display: block;
	max-width: 95%;
	overflow-x: scroll;
}

table
{
	/*border: 1px solid black !important;*/
	max-width:90% !important;
	margin-left:10px;
	margin-right:10px;
	margin:0 auto;
	/*max-width:800px;*/
	text-align: center;
	white-space: nowrap;
	
	margin-bottom: 10px;
	margin-top: 10px;
	/*font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;*/
	/*font-size: 100%;*/
	color: white !important;
}

thead, th
{
	max-width:100% !important;
	padding-top: 4px !important;
	padding-bottom:5px !important;
	text-align: center !important;
	font-weight: bold;
	color: #daded9;
}

td
{
	max-width:100% !important;
	padding-top:0px !important;
	padding-bottom:4px !important;
}

tr
{
	border-width: 0px !important;
}

/* width */
::-webkit-scrollbar 
{
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
 	background: #2e2e35; 
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
 	background: #1f1f24;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
 	background: #679267; 
}

textarea::-webkit-scrollbar-track 
{
 	background: #6e4d4b; 
}
 
/* Handle */
textarea::-webkit-scrollbar-thumb 
{
 	background: #24242a;
	border-radius: 10px;
}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover 
{
 	background: #421114; 
}

textarea::-webkit-resizer {
  background: #6e4d4b;
}