img
{
    max-width: 85%;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

iframe
{
    max-width: 100%;
    overflow-y: hidden !important;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

br, button, nav, select, noselect
{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

input, textarea
{
    background: rgba(0,0,0, 0.3) !important;
    line-height: normal;
    padding:  5px;
    color: white !important;
}

select
{
    background: #291E34 !important;
    line-height: normal;
    padding:  5px;
    color: white !important;
    scrollbar-width: none; /*For Firefox*/;
    -ms-overflow-style: none;  /*For Internet Explorer 10+*/;
}

select::-webkit-scrollbar /*For WebKit Browsers*/
{ 
    width: 0;
    height: 0;
}

select[multiple] 
{
    background: rgba(0,0,0, 0.3) !important;
    width:auto;
    padding:0px;
    border-width: 2px;
    border-style: inset;
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    appearance: menulist;
}

select[multiple]:unfocus
{
    display:  none;
}

option
{
    padding-top: 3px;
    padding-bottom: 3px;
}

input[type=checkbox]
{
    cursor: pointer;
}

label
{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
}

a:hover
{
    cursor: pointer;
}

green
{
    color: #39ff14;
}

red
{
    color: #FF3131;
}

.card
{
    background: rgba(0,0,0, 0.3) !important;
}

div.xscroll
{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    overflow-x: auto;
}

table
{
    /*border: 1px solid black !important;*/
    max-width:100% !important;
    margin-left:10px;
    margin-right:10px;
    margin:0 auto;
    /*max-width:800px;*/
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;
    
    margin-bottom: 10px;
    margin-top: 10px;
    /*font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;*/
    /*font-size: 100%;*/
    color: white !important;
}

thead, th
{
    max-width:100% !important;
    padding-top: 4px !important;
    padding-bottom:5px !important;
    text-align: center !important;
    font-weight: bold;
    color: #daded9;
}

td
{
    max-width: 500px; 
    word-wrap: break-word;
    padding-top:0px !important;
    padding-bottom:4px !important;
    vertical-align: middle;
}

tr
{
    border-width: 0px !important;
}

/* width */
::-webkit-scrollbar 
{
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #2e2e35;
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #679267;
}

::-webkit-scrollbar-corner 
{
    background: #2e2e35;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #679267; 
}

div::-webkit-scrollbar-track 
{
    background: #FFFFFF00;
}
 
/* Handle */
div::-webkit-scrollbar-thumb 
{
    background: #679267;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover 
{
    background: #679267; 
}

div::-webkit-scrollbar-corner {
  background: #FFFFFF00;
}

div::-webkit-resizer {
  background: black;
}